@font-face {
	font-family: 'pixel font';
	src: url('data/fonts/pixel-font.ttf');
}

body {
	font-family: 'pixel font'; /*-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;*/
	margin: 0;
	padding: 0;
	max-width: 38rem;
	overflow: hidden;
}
